* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(233, 47%, 7%);
}

main {
/*     display: flex;
 */    position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

.main-block {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    width: 100%;
    background-color: hsl(244, 38%, 14%);
}

.left-side {
    padding: 40px ;
}

.header-text {
    margin: 1em 0;
}

.header-text h3 {
    font-family:'Inter', Times, serif;
    font-size: 2rem;
    color: aliceblue;
}

.header-text h3 a {
    text-decoration: none;
    color: rgba(240, 46, 169, 0.788);
}

.p-text {
    margin-bottom: 2em;
}

.p-text p {
    color: hsla(0, 0%, 100%, 0.6);
    font-family: 'Lexend Deca', Times, serif;
}

main img {
    display: flex;
    max-width: auto;
    overflow: hidden;
    height: 100%;
    width: auto;
}

.stats {
    display: flex;
    flex-direction: row;
}

.text {
    max-width: 40vh;
}

li {
    list-style-type: none;
}

ul{
    margin: 20px 30px 20px 0;
}

.stats li a {
    text-decoration: none;
    color: aliceblue;
    font-family:'Inter', Times, serif;
    font-size: 1.4em;
    font-weight: 600;
}

.stats li {
    font-family: 'Lexend Deca', Times, serif;
    color: hsla(0, 0%, 100%, 0.6);
    font-weight: 100;
    font-size: smaller;
}
